{% load static %}

<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{% static 'style.css' %}"/>
<head>
    <meta charset="UTF-8">
    <title>Последние вакансии</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'logo.png' %}">
</head>
<body>
    <header>
        <p class="footer-text">PHPDEV</p>
    </header>

    <div class="main-body">
        <nav>
            <p class="nav-content">Навигация</p>
            <ul class="rectangle">
                <li><a href="/">Главная</a></li>
                <li><a href="/hh">Последние вакансии</a></li>
            </ul>
        </nav>
        <div class="content">
            Тут будут последние вакансии
        </div>
    </div>

    <footer>
        <p class="footer-text">
            ФИО : Ивачёв Никита Борисович<br>
            Академическая группа : РИ-210940
        </p>
    </footer>
</body>
</html>