{% load static %}

<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{% static 'style.css' %}"/>
{#<link rel="stylesheet" href="{% static 'outline.css' %}"/>#}
{#<link rel="stylesheet" href="{% static 'outline-settings.css' %}"/>#}
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'php.png' %}">
</head>
<body>
    <header>
        <img class="head-img" src="{% static 'head.png' %}" alt="Логотип проекта">
    </header>

    <div class="main-body">
        <nav>
            <p class="nav-content">Навигация</p>
            <ul class="rectangle">
                <li><a href="/">Главная</a></li>
                <li><a href="/hh">Последние вакансии</a></li>
            </ul>
        </nav>
        <div class="content">
            <h1>{{ title }}</h1>
            {% for element in description %}
                <p>{{ element }}</p>
            {% endfor %}
            <div class="images">
                <img src="{% static 'php1.jpeg' %}" alt="первая картинка на главной странице">
                <img src="{% static 'php2.jpg' %}" alt="первая картинка на главной странице">
                <img src="{% static 'php3.jpg' %}" alt="первая картинка на главной странице">
            </div>
        </div>
    </div>

    <footer>
        <p class="footer-text">
            ФИО : Ивачёв Никита Борисович<br>
            Академическая группа : РИ-210940
        </p>
    </footer>
</body>
</html>