{% load static %}

<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{% static 'style.css' %}"/>
<head>
    <meta charset="UTF-8">
    <title>Востребованность</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'php.png' %}">
</head>
<body>
    <header>
        <img class="head-img" src="{% static 'head.png' %}" alt="Логотип проекта">
    </header>

    <div class="main-body">
        <nav>
            <p class="nav-content">Навигация</p>
            <ul class="rectangle">
                <li><a href="/">Главная</a></li>
                <li><a href="/relevance">Востребованность</a></li>
                <li><a href="/hh">Последние вакансии</a></li>
            </ul>
        </nav>
        <div class="content relevance-content">
            <div class="content-element">
                <div>{{ salary|safe }}</div>
                <img src="{% static 'vacancies/salary.png' %}">
            </div>

            <div class="content-element">
                <div>{{ vacancy|safe }}</div>
                <img src="{% static 'vacancies/vacancy.png' %}">
            </div>

            <div class="content-element">
                <div>{{ salary_php|safe }}</div>
                <img src="{% static 'vacancies/salary_php.png' %}">
            </div>

            <div class="content-element">
                <div>{{ vacancy_php|safe }}</div>
                <img src="{% static 'vacancies/vacancy_php.png' %}">
            </div>
        </div>
    </div>

    <footer>
        <p class="footer-text">
            ФИО : Ивачев Никита Борисович<br>
            Академическая группа : РИ-210940
        </p>
    </footer>
</body>
</html>